<div class="fList right">
              <div class="fImage left"><img src="images/usrImage.jpg" /></div>
               <div class="fDet left"><div class="tagHead">Beth Trout</div><div class="tagDet">Seattle, WA</div></div>
              <div class="clr"></div>
             </div>
