		 <div class="evenList">
          <div class="left" style="padding:20px 5px; 0 0;"><input type="checkbox" /></div>
		  <div class="usrImage left"><a href="#"><img src="images/usrImage.jpg" alt="image1" /></a></div>
		  <div class="inusrInfo left">
		   <div class="listHead"><a href="#">Beth Trout</a></div>
		   <div class="listDet"><p>Sept. 4, 2009</p></div>
		  </div>
		  <div class="usrTag right">
		   <div class="listHead">Oi malasa! kumusta naka bai?</div>
		   <div class="tagDet"><p>Hey John, can you etroduce me gretch? I can do this part of the...</p></div>
		  </div>
		  <div class="clr"></div>
         </div>
