        <div class="evenList">
		  <div class="usrImage left"><a href="#"><img src="images/usrImage2.jpg" alt="image1" /></a></div>
		   <div class="usrInfo left">
		    <div class="listHead"><a href="#">Cory Holm</a></div>
		    <div class="listDet"><p>Portland, OR</p></div>
		    <div class="listConn"><a href="#"><img src="images/email.jpg" alt="image1" /></a>&nbsp;<a href="#"><img src="images/sfb.jpg" alt="image1" /></a></div>
		   </div>
		   <div class="usrTag right">
		    <div class="tagHead">Marketing</div>
		    <div class="tagDet"><p>Small Business : Corporations : Product AdvertisingSmall Business</p></div>
		   </div>
		  <div class="clr"></div>
         </div>
