<div id="searchJob">  
       <table cellpadding="0" cellspacing="0">
        <tr>
         <td class="iLabel">Search a job or Service</td>
        </tr>
        <tr>
         <td><input type="text" id="jobTextArea" /></td>
         <td style="padding-left:1px;"><input type="image" src="images/magni.jpg" /></td>
        </tr>
       </table>
      </div>
