<div class="<%= cycle('odd','even') %>List">
  <div class="listHead"><%= link_to opportunity.job_title, opportunity_path(opportunity) %></div>
  <div class="listDet"><%= h opportunity.details %></div>
</div>
