	 <div class="midCont left">
     <%= render :partial =>'shared/search_box' %>
	  
      <div id="shareOpp">
       <div><h2><%= @opportunity.job_title %></h2></div>
       <div class="formWrapper"><%= @opportunity.details %>
       </div>
      </div> 
	  
	 </div>
<%= render :partial => 'shared/sidebar' %>
